# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Fortran module files
*.mod
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# Executables
*.exe
*.out
*.app

#build dirs
obj/*
bin/*

#project files
*.depend
*.layout

# Thing created by doxygen
doxygen/*

#things created by code::blocks plugins
*.cscope_file_list


#resource files
*.db
resources/*

